In [52]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter
from itertools import combinations

In [53]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
927,tt0287717,38000000,119723358,Spy Kids 2: Island of Lost Dreams,Antonio Banderas|Carla Gugino|Alexa PenaVega|D...,Robert Rodriguez,Little Spies. Big Attitudes,Exploring the further adventures of Carmen and...,100,Action|Adventure|Comedy|Family,Dimension Films,8/7/2002,5.2,2002
328,tt1186830,70000000,39041505,Agora,Rachel Weisz|Max Minghella|Oscar Isaac|Ashraf ...,Alejandro AmenÃ¡bar,"Alexandria, Egypt. 391 A.D. The World Changed ...","A historical drama set in Roman Egypt, concern...",127,Adventure|Drama|History,HimenÃ³ptero|Telecinco Cinema|Mod Producciones...,5/17/2009,6.6,2009
689,tt0831887,60000000,39031337,The Spirit,Gabriel Macht|Scarlett Johansson|Samuel L. Jac...,Frank Miller,I'm gonna kill you all kinds of dead.,Down these mean streets a man must come. A her...,103,Action|Comedy|Thriller|Crime|Science Fiction,DC Comics|Lionsgate|Odd Lot Entertainment|Medi...,12/25/2008,4.6,2008
194,tt1972779,26000000,35926213,The Best of Me,Michelle Monaghan|James Marsden|Liana Liberato...,Michael Hoffman,You never forget your first love.,A pair of former high school sweethearts reuni...,117,Drama|Romance,Relativity Media,10/16/2014,7.2,2014
133,tt2872732,40000000,463360063,Lucy,Scarlett Johansson|Morgan Freeman|Choi Min-sik...,Luc Besson,The average person uses 10% of their brain cap...,"A woman, accidentally caught in a dark deal, t...",89,Action|Science Fiction,Universal Pictures|TF1 Films Production|Canal+...,7/14/2014,6.3,2014

In [54]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [55]:
answers = {}
 # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']
 # код получения столбца profit

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [92]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
 # "+"

In [56]:
data1_budget_max = data[data['budget'] == data['budget'].max()]
data1_budget_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [93]:
answers['2'] = '2. Gods and Generals (tt0279111)'
 # "+"

In [57]:
runtime_max = data[data['runtime'] == data['runtime'].max()]
runtime_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [94]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
 # "+"

In [58]:
runtime_min = data[data['runtime'] == data['runtime'].min()]
runtime_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [95]:
answers['4'] = '2. 110 '
 # "+"

In [61]:
runtime_mean = data['runtime'].mean()
round(runtime_mean)

110

# 5. Каково медианное значение длительности фильмов?

In [96]:
answers['5'] = '1 107'
 # "+"

In [ ]:
runtime_median = data['runtime'].median()
round(runtime_median)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [97]:
answers['6'] = '5. Avatar (tt0499549)' 
 # "+"

In [62]:
profit_max = data[data['profit'] == data['profit'].max()]
profit_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [98]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
 # "+"

In [63]:
profit_min = data[data['profit'] == data['profit'].min()]
profit_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [99]:
answers['8'] = '1. 1478'
 # "+"

In [66]:
profit_positive = data[data['profit'] > 0]
profit_positive.count(axis = 0)

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [100]:
answers['9'] = '4.The Dark Knight (tt0468569)'
 # "+"

In [67]:
data = data[data.release_year.isin([2008])]
profit_08_max = data[data['profit'] == data['profit'].max()]
profit_08_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [101]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
 # "+"

In [46]:
data = data[data.release_year.isin([2012,2013,2014])]
profit_12_14_min = data[data['profit'] == data['profit'].min()]
profit_12_14_min.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [102]:
answers['11'] = '3. Drama'
 # "+"

In [68]:
data['genres'] = data['genres'].str.split('|')
data = data.explode('genres')
genres_max = data['genres'].value_counts().index[0]
genres_max

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [103]:
answers['12'] = '1. Drama'
 # "+"

In [36]:
data['genres'] = data['genres'].str.split('|')
data = data.explode('genres')
data_profit_plus = data[data['profit'] > 0].copy()
data_profit_plus.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [104]:
answers['13'] = '5. Peter Jackson'
 # "+"

In [27]:
data['director'] = data['director'].str.split('|')
data = data.explode('director')
data.groupby(['director']).revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [105]:
answers['14'] = '3. Robert Rodriguez'
 # "+"

In [26]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data['director'].str.split('|')
data = data.explode('director')
data_action = data[data['genres'].str.contains("Action", na=False)].copy()
data_action.groupby(['director']).director.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [106]:
answers['15'] = '3. Chris Hemsworth'
 # "+"

In [71]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].str.split('|')
data = data.explode('cast')
data_2012 = data[data.release_year.isin([2012])]
data_2012.groupby('cast').revenue.sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [107]:
answers['16'] = '3. Matt Damon'
 # "+"

In [73]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].str.split('|')
data = data.explode('cast')
data_budget = data[data['budget'] > data['budget'].mean()]
data_budget.cast.value_counts().sort_values(ascending = False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [108]:
answers['17'] = '2. Action'
 # "+"

In [75]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].str.split('|')
data = data.explode('genres')
data_cage = data[data['cast'].str.contains("Nicolas Cage", na=False)].copy()
data_cage.genres.value_counts().sort_values(ascending = False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [109]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
 # "+"

In [76]:
data = pd.read_csv('movie_bd_v5.csv')
data_paramount = data[data['production_companies'].str.contains("Paramount Pictures", na=False)].copy()
data_paramount['profit'] = data_paramount['revenue'] - data_paramount['budget']
data_paramount_min = data_paramount[data_paramount['profit'] == data_paramount['profit'].min()]
data_paramount_min

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [110]:
answers['19'] = '5. 2015'
 # "+"

In [77]:
data.groupby('release_year').revenue.sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [111]:
answers['20'] = '1. 2014'
 # "+"

In [79]:
data = pd.read_csv('movie_bd_v5.csv')
data_warner = data[data['production_companies'].str.contains("Warner Bros", na=False)].copy()
data_warner['profit'] = data_warner['revenue'] - data_warner['budget']
data_warner.groupby('release_year').profit.sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [112]:
answers['21'] = '4. Сентябрь'
 # "+"

In [81]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month
data.release_month.value_counts().sort_values(ascending = False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [113]:
answers['22'] = '2. 450'
 # "+"

In [82]:
data['release_date'] = pd.to_datetime(data['release_date'])
len(data[data.release_date.dt.month.isin([6, 7, 8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [114]:
answers['23'] = '5. Peter Jackson'
 # "+"

In [84]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data['director'].str.split('|')
data = data.explode('director')
data['release_date'] = pd.to_datetime(data['release_date'])
data_winter = data[data.release_date.dt.month.isin([1, 2, 12])]
data_winter.director.value_counts().sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [115]:
answers['24'] = '5. Four By Two Productions'
 # "+"

In [86]:
data = pd.read_csv('movie_bd_v5.csv')
data['title_lenth'] = data.original_title.map(lambda x: len(x))
 #data['production_companies'] = data['production_companies'].str.split('|')
 #data = data.explode('production_companies')
data_title_lenth_max = data[data['title_lenth'] == data['title_lenth'].max()]
data_title_lenth_max

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,title_lenth
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [116]:
answers['25'] = '3. Midnight Picture Show'
 # "+"

In [88]:
data = pd.read_csv('movie_bd_v5.csv')
data['words_amount'] = data.overview.map(lambda x: len(x.split(' ')))
data['production_companies'] = data['production_companies'].str.split('|')
data = data.explode('production_companies')
data = data.groupby('production_companies').words_amount.mean().sort_values(ascending = False).index[0]
data

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [117]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
 # "+"

In [90]:
data = pd.read_csv('movie_bd_v5.csv')
best_one_pecent = np.quantile(data.vote_average, 0.99)
data[data.vote_average > best_one_pecent]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [118]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
 # "+"

In [91]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast_pairs'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data.cast_pairs.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [119]:
# ответы к каждому вопросу
answers

{'4': '2. 110 ',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '5': '1 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4.The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [120]:
# ничего не пропустил)
len(answers)

27